@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  font-family: "Poppins";
}

.auth-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 400px;
  width: 33%;
  margin: auto;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #FFF;
  text-align: left;
}

.username:focus-within .icon {
  color: var(--color-black);
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 1.75rem;
    font-family: "Poppins", sans-serif;
}

.input-group label {
  font-weight: 400;
  margin-bottom: 4px;
  display: block;
}

.input-group input {
  padding: 14px;
  border-width: 0px;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 1rem;
}

.input-group input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.password-reset {
  display: block;
  text-align: right;
  width: 100%;
  font-size: 0.8rem;
  margin-top: -15px;
}

button[type="submit"] {
  padding: 10px;
  background: linear-gradient(to bottom right, #ffd19d, #ffaaaa);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 100000px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;
  margin-block: 10px;
  margin-top: 30px;
}

.google {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1000px;
  border: 1px solid #ccc;
  width: auto;
  max-width: max-content;
  margin: 10px auto 0;
  transition: all 0.2s;
}

.google:hover {
  background: var(--color-gray-100);
  scale: 102%;
}

.google:active {
  background: var(--color-gray-200)
}

button[type="submit"]:hover {
  background: linear-gradient(to bottom right, #ffce96, #ffa3a3);
  scale: 102%;
  box-shadow: #000;
  box-shadow: var(--shadow-sm);
}

.create-account {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  /* text-decoration: underline; */
}

a {
  color: var(--color-indigo-500)
}