@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  font-family: "Poppins";
}

.auth-container {
    display: flex;
    flex-direction: column;
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

.input-group label {
  font-weight: 400;
  margin-bottom: 4px;
  display: block;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
}

button[type="submit"] {
  padding: 10px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  margin-block: 10px;
}

button[type="submit"]:hover {
  background: #f9fafb;
  color: #111827;
}

p {
  margin-top: 16px;
  text-align: center;
  text-decoration: underline;
}